/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	background: url(/assets/space.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	overflow: hidden;
	margin: 0;
}

body{

}

.egg{
	width: 100vw;
	height: 100vh;
	display: block;
	object-fit: cover; /* NO IE SUPPORT, add logic for them... */
	-o-object-fit: cover;
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
/*	transition: transform 1.5s ease .5s,
							width 1.5s ease .5s,
							height 1.5s ease .5s;
	-o-transition: transform 1.5s ease .5s,
							width 1.5s ease .5s,
							height 1.5s ease .5s;
	-moz-transition: transform 1.5s ease .5s,
							width 1.5s ease .5s,
							height 1.5s ease .5s;
	-webkit-transition: transform 1.5s ease .5s,
							width 1.5s ease .5s,
							height 1.5s ease .5s;*/
	cursor: pointer;
	cursor: hand;
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
	color: #173e43;
	position: absolute;
	top: 45%;
	left: 46%;
	z-index: 99;
	cursor: pointer;
	cursor: hand;
/*	display: none;*/
}

.newegg{
	width: 50vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: none;
	cursor: pointer;
	cursor: hand;
}

.answer{
	width: 45vw;
	height: 25vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	color: #173e43;
	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 99;
	cursor: pointer;
	cursor: hand;
	display: none;
}



